# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore downloaded files
*.json
*.xml

# Ignore VSCode folders
.vscode/
.idea/
data/**/*.csv
*.pcap
.env
.env.*
.DS_Store
./**/Logs/*
./**/.venv
.venv/
!.gitkeep
*.log
ragAnythingSecrets.json