# Web Frameworks and API
fastapi
uvicorn

# Data Processing and Kafka
aiokafka
pandas
scikit-learn

# Databases and Drivers
psycopg[binary,pool]>=3.2
neo4j

# Machine Learning and GNN
#torch
#torch-geometric
#joblib

# Explainable AI (XAI)
#shap
#lime
# Torch Geometric Explainer is integrated into torch-geometric

torch
torch-geometric
numpy
pandas
scikit-learn
matplotlib
seaborn
networkx
neo4j
psycopg2-binary
kafka-python
streamlit
captum

# Other utilities
python-dotenv
